/*the stuff for the header*/
#header {
    background-image:url(%%put your image url here for the header%%);
    background-position:150px -965px;
    background-size:85%;
    height:250px;
    background-attachment: fixed;
}
#header-bottom-left {
    position: absolute;
    bottom: 0px;
}
/*tab things*/
.tabmenu.selected {
    background-image:none;
}
/*THE NUB IS DEAD*/
.nub {
    display:none;
}
/*all of the submit buttons*/
.morelink {
    background-image:none;
    background-color:rgb(114,137,218);
    border:none;
    border-radius:1px;
}
.morelink a {
    color:rgb(54, 57, 62);
}
.morelink a:hover {
    color:white;
    transition:.3s;
    padding-top:3px;
}
.morelink:hover {
    background-image:none;
    background-color:rgb(150,140,250);
    border:none;
    border-radius:1px;
    transition:.3s all;
    height:35px;
}
/*side bar sturf*/
.side { 
    position:absolute;
    right: -50px;
    transition:.3s all;
    background:linear-gradient(to left, rgba(200,200,200,.5), rgba(200,200,200,0));
}
.side:hover {
    right:-5px;
}
/*changing the position of sub info*/
.redditname {
    padding-left:115px;
}
.fancy-toggle-button .option { 
    visibility:hidden;
    font-size:0pt!important;
    background-image:none;
}
.fancy-toggle-button .option.add:before{ 
    content:"Subscribe"; 
    visibility:visible;
    border:1px black solid;
    padding:1px 5px 1px 5px;
    border-radius:2px;
    font-size:10px;
    margin-right:-7px;
    color:white;
    background-color:rgb(114,137,218);
}
.fancy-toggle-button .option:hover:before {
    content: "+Subscribe";
    visibility:visible;
    background-color:rgb(150,140,250);
    transition:.3s;
}
.fancy-toggle-button .option.remove:before{ 
    content:"Subscribed"; 
    visibility:visible;
    border:1px black solid;
    padding:1px 5px 1px 5px;
    border-radius:2px;
    font-size:10px;
    margin-right:-7px;
    color:white;
    background-color:rgb(114,137,218);
}
.fancy-toggle-button .option.remove:hover:before {
    content: "-UnSubscribe";
    visibility:visible;
    background-color:rgb(150,140,250);
}
/*Things for the body background*/
body {
    background-color:white;
}
/*post borders and stuff*/
.listing-page .link:hover {
    background:rgba(114,137,218,.1);
    border:1px
    border-color:rgba(114,137,218,.2);
    transition:.3s;
}
.link {
    background:none;
    padding: 15px;
    margin-right:350px;
    border:none;
    margin-bottom: -1px;
    position: relative;
}